{% extends "base.tmpl" %}
{% block pagetitle %}Data catalogs and portals registry{% endblock %}
{% block content %}
<h1>Data catalogs and portals registry</h1>

<p>Download as <a href="/catalogs.json">JSON</a></a>.
Raw code and data at <a href="https://github.com/commondataio/dataportals-registry</a>.
Contact <a href="mailto:ivan@begtin.tech">ivan@begtin.tech</a> if you have any question.
</p>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Owner type</th>
          <th>Catalog type</th>
          <th>Software</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>

        {% for o in objects %}         
        <tr>
          <td>{{ o.id }}</td>
          <td><a href="/catalog/{{o.id}}">{{ o.name }}</a></td>
          <td>{{ o.catalog_type }}</td>
          <td>{{ o.owner_type }}</td>
          <td>{{ o.software }}</td>
          <td><a href="{{o.link}}">{{ o.link }}</a></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

{% endblock %}
