{% extends "base.tmpl" %}
{% block pagetitle %}{{object.name}}{% endblock %}
{% block content %}
<div class="hero-sm bg-gray">
  <div class="hero-body">
    <h1>{{object.name}} ({{object.id}})</h1>
    <p>{{object.description}}</p>
    <p><a href="/catalog/{{object.id}}.json">JSON</a></p>
  </div>
</div>
<table class="table">
<thead><th></th><th></th></thead>
<tbody>
<tr>
<td>Catalog type</td><td>{{object.catalog_type}}</td>
</tr>
<tr>
<td>Link</td><td>{{object.link}}</td>
</tr>
<tr>
<td>Owner type</td><td>{{object.owner_type}}</td>
</tr>
<tr>
<td>Link</td><td>{{object.link}}</td>
</tr>
<tr>
<td>Software</td><td>{{object.software}}</td>
</tr>
{% if object.access_mode %}
<tr>
<td>Access modes</td>
<td>
{{ object.access_mode | join(', ') }}
</td>
</tr>
{% endif %}
{% if object.content_types %}
<tr>
<td>Content types</td>
<td>
{{ object.content_types | join(', ') }}
</td>
</tr>
{% endif %}
{% if object.countries %}
<tr>
<td>Countries</td>
<td>
{{ object.countries}}
</td>
</tr>
{% endif %}
{% if object.langs %}
<tr>
<td>Languages</td>
<td>
{{ object.langs | join(', ') }}
</td>
</tr>
{% endif %}
<tr>
<td>Has AP?I</td><td>{{object.api}}</td>
</tr>
<tr>
</table>
{% if object.endpoints %}
<h3>API Endpoints</h3>
    <table class="table">
      <thead>
        <tr>
          <th>type</th>
          <th>url</th>
        </tr>
      </thead>
<tbody>
  {% for c in object.endpoints %}
<tr>
<td>{{c.type}}</td>
<td>{{c.url}}</td>
</tr>
  {% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}
