category: Geoportal
datatypes:
  datasets: 'Unknown'
  fields: 'Unknown'
  organizations: 'Unknown'
  resources: 'Unknown'
  topics: 'Unknown'
has_api: 'No'
has_bulk: 'No'
website:
id: placeholder
metadata_support:
  ckan_api: 'Uncertain'
  csw: 'Uncertain'
  custom_api: 'Uncertain'
  dcat: Uncertain
  oai-pmh: Uncertain
  ogcrecords: 'Uncertain'
  openaire: 'Uncertain'
  opensearch: Uncertain
  schema-org: Uncertain
  sdmx: 'Uncertain'
  stac: 'Uncertain'
  swordapi: 'Uncertain'
  wcs: 'Uncertain'
  wfs: 'Uncertain'
  wms: 'Uncertain'
name: Placeholder
pid_support:
  has_doi: Uncertain
  persistent_dataset_url: 'Uncertain'
rights_management:
  licensing_type: Uncertain
  supports_licenses: 'Uncertain'
storage_type: Both
type: Software
